<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create New - {{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Create a new blog</h1>
        <a href="/">HOME</a>
        <h2>Add stuff</h2>
        <form action="/add" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" />
            </div>
            <div>
                <label for="blog">What is your blog txt?</label>
                {%- comment -%} <input type="text" name="blog" id="blog" value="Write here" /> {%- endcomment -%}
                <textarea name="blog" id="blog">Write something</textarea>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
        <hr>
    </body>
</html>