<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home - {{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="title-bar">
            <h1 class="title-item"> {{title}} </h1>
            <a class="create-button title-item" href="/create">Create New</a>
        </div>
        {% for txt in data %}
            <div class="blog-card">
                <h3> {{ txt.blog_title }} </h3>
                <div class="button-case">
                    <a class="view-button" href="article/{{ txt.blog_id }}">View</a>
                </div>
            </div>
        {% endfor %}
    </body>
</html>  
