* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

h1 {
  position: relative;
  padding: 0;
  margin: 50px;
  margin-left: 10%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 75px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h2 {
  padding: 15px;
  margin: 2%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #080808;
  text-transform: uppercase;
  padding-bottom: 5px;
  text-align: center;
}

h3 {
  position: relative;
  padding: 15px;
  margin: 2%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #080808;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.title-item {
  display: inline;
}

.create-button {
  background-color: #88C4EC; 
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

.create-button:hover {
  background-color: #abced4;
}

.view-button {
  background-color: #abced4;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: #080808;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.view-button:hover {
  color: #1091e7;
}

.blog-card {
  background-color: #EAECEC;
  background-color: rgba(241, 241, 241, 0.5);
  border: solid 1px #abced4;
  margin: 5% 10%;
  padding: 20;
  box-shadow: 0 0 30px 9px #abced4d2;
}

.blog-card:hover {
  box-shadow: 0 0 30px 9px #abced4d2;

}

.button-case {
  display: flex;
  flex-direction: row-reverse;
}

.cancel-button {
  background-color: #11538B; 
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-button {
  background-color: green; 
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container {
  text-align: center;
}

form {
  width: 80%;
  display: inline-block;
}

.article-header {
  margin-left: 10%;
}

p {
  position: relative;
  margin: 2%;
  margin-left: 7%;
}

.home-button {
  background-color: green; 
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.edit-button {
  background-color: darkkhaki; 
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.delete-button {
  background-color: darkred; 
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-container {
  margin-left: 10%;
}